# Ignore compiled Python files
*.pyc

# Ignore the virtual environment folder
venv/

# Ignore the pretrained_models folder
pretrained_models/

# Ignore the experiments results folder
results/

# Ignore the dataset folder
dataset/

# Third party libaraies
third-party/
